%p That note doesn't exist. Maybe it was deleted, maybe it never existed. Maybe you don't exist. Maybe this is all an elaborate hallucination. Anyway, it's not here.

%p How about <a href="/">creating</a> a new one?
