%form{ action: "/save", method: "POST" }

  #message.form-group
    %label{ for: "secret" } Message
    %textarea#note.form-control{ name: "secret", rows: "3" }
    %input.btn.btn-default{ type: :submit, value: "Save" }

  %label{ for: "options" } Expire Message
  #options.form-group
    .radio
      %label
        %input.radio#expire-read{ type: "radio", name: "expire", value: :read, checked: :checked }
        On Read
    .radio
      %label
        %input.radio#expire-time{ type: "radio", name: "expire", value: :time }
        At Time

    %select.form-control#expire-at{ name: "time" }
      = TIMES.each do |text, value|
        %option{ value: value }= text

