%form.form_group{ url: "/keybase", method: "POST" }
  %label{ for: "username" } Username:
  %input{ type: "username", name: "username" }

  %label{ for: "password" } Password:
  %input{ type: "password", name: "password" }

  %input.btn.btn-default{ type: "submit" }
