!!!
%html
  %head
    %title Shush - Encrypted, confidential, self-destructing note sharing.

    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", href: "/vendor/bootstrap.min.css" }
    %link{ rel: "stylesheet", href: "/styles.css" }

  %body
    %header
      %h1#brand
        %a{ href: "/" } Shush

      %nav
        %a{ href: "/about" } About

    - FLASH_TYPES.each do |type|
      - if flash.has?(type)
        #flash.alert{ role: type, class: "alert-#{type}" }
          %button.close{ data: { dismiss: type } }
            %span &times;
          = flash[type]

    #content
      = yield

    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" }
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }

    = yield_content :js

