%h2 Here's your note

%pre#note{ data: { nid: key } } ...

%p#ttl
  This note will be destroyed once you close this window. Make sure you don't need it again!

- content_for :js do
  %script{ src: "/reading.js" }
