%h2 Here's your note

#note
  %pre= note

- if ttl
  %p= "This note will be destroyed in #{ttl} minutes."
- else
  %p This note will be destroyed once you close this window. Make sure you don't need it again!
