%h2 Here's your note

%pre#note{ data: { nid: key } } ...

%p#ttl
  This note has been destroyed. If it's important, save it somewhere secure. Once you close this window, we can't retrieve it for you.

- content_for :js do
  %script{ src: "/reading.js" }
