%h2 Here's your note

%pre#note{ data: { nid: key } } ...

#ttl

.panel.panel-default
  .panel-body
    If it's important, save this note somewhere secure. Once the note expires, we can't retrieve it for you.

- content_for :js do
  %script{ src: "/reading.js" }
