%p
  Here's a link you can share that will expire
  = time
  or you can
  %a{ href: url } destroy it right now.

%input.form-control{ type: "text", value: url, onclick: "this.focus();this.select();" }
