%p
  Here's a link you can share that will expire
  = time
  or you can
  %a{ href: "/destroy/#{key}" } destroy it right now.

%input{ type: "text", value: url, onclick: "this.focus();this.select();" }
