%form{ action: "/save", method: "POST", enctype: "multipart/form-data" }

  %h4 Share a new:
  .radio
    %label
      %input.radio#type-message{ type: "radio", name: "secret-type", value: :text, checked: :checked }
      Message
    %label
      %input.radio#type-image{ type: "radio", name: "secret-type", value: :image }
      Image

  #message.form-group
    %label{ for: "text" } Message:
    %textarea#note{ name: "text", rows: "12" }

  #secret-image
    %input{ type: "file", name: "secret-image", id: "images" }
    .file-dummy
      .success Image selected, click 'Share' to save
      .default Please click or drag and drop here to select an image file

  %label#options-label{ for: "options" } This message will self-destruct:
  #options.form-group
    .radio
      %label
        %input.radio#expire-read{ type: "radio", name: "expire", value: :read, checked: :checked }
        When it's first viewed
    .radio
      %label
        %input.radio#expire-time{ type: "radio", name: "expire", value: :time }
        At a specified time

    .select-wrapper
      %select#expire-at{ name: "time", width: "350px" }
        = Secret::TIMES.each do |text, value|
          %option{ value: value, selected: value == Secret::DEFAULT_EXPIRE }= text

  %input.buddon{ type: :submit, value: "Share" }

- content_for :js do
  %script{ src: "/authoring.js" }
