%form{ action: "/save", method: "POST" }

  #message.form-group
    %label{ for: "text" } Message:
    %textarea#note{ name: "text", rows: "12" }

  %label{ for: "options" } This message will self-destruct:
  #options.form-group
    .radio
      %label
        %input.radio#expire-read{ type: "radio", name: "expire", value: :read, checked: :checked }
        When it's first viewed
    .radio
      %label
        %input.radio#expire-time{ type: "radio", name: "expire", value: :time }
        At a specified time

    .select-wrapper
      %select#expire-at{ name: "time", width: "350px" }
        = Secret::TIMES.each do |text, value|
          %option{ value: value, selected: value == Secret::DEFAULT_EXPIRE }= text

  %input.buddon{ type: :submit, value: "Share" }

- content_for :js do
  %script{ src: "/authoring.js" }
