body {
  margin: 10px 50px
}

#brand, nav {
  display: inline-block;
}

#brand {
  margin-right: 30px;
}

#expire-at, #ttl, #email {
  display: none;
}

#ttl {
  color: #f0ad4e;
  margin: 15px;
  /*padding: 15px;*/
}

